# FastAPI et dépendances
fastapi
uvicorn
pydantic

# Monitoring
prometheus_client
slowapi

# Django pour l'authentification
Django==4.2.7
django-environ
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
django-extensions
django-prometheus
drf-yasg

# Authentification
python-jose[cryptography]
python-multipart
PyJWT

# Base de données
SQLAlchemy
psycopg2-binary
pyodbc
alembic
django-mssql-backend

# Traitement des données
pandas
numpy

# IA et LangChain
langchain
langchain-community
langchain-core
langgraph
langgraph-checkpoint-sqlite
openai
langchain-openai
faiss-cpu
unstructured[md]
python-magic

# Gestion des environnements
python-dotenv

# Tests
pytest
pytest-asyncio
httpx

# Utilitaires
python-dateutil
requests
rich

# Logging
loguru