# API Garmin Connect
garminconnect

# Gestion des environnements
python-dotenv

# Traitement des données
pandas
numpy

# Base de données
SQLAlchemy
pyodbc
alembic      # Pour les migrations de base de données
aiosqlite

# API REST
fastapi
uvicorn
pydantic

# Utilitaires
python-dateutil
requests

# Tests
pytest
httpx      # Pour tester l'API FastAPI

# Planification
schedule         # Pour la planification simple
# ou APScheduler==3.10.4  # Pour une planification plus avancée

# Logging
loguru

langchain
# langchain-ollama
langchain-community
langchain-core
langgraph
langgraph-checkpoint-sqlite
openai
langchain-openai
faiss-cpu

streamlit
folium
streamlit-folium

rich
tqdm
unstructured
python-magic
markdown
